﻿@model List<Tourist_Place.Models.Place>


<div class="row-list">
    <div class="h-label"> NAME </div>
    <div class="h-label"> ADDRESS </div>
    <div class="h-label"> RATING </div>
    <div class="h-label"> PICTURE </div>
    <div class="h-label"> ACTION </div>
</div>


@foreach (var item in Model)
{
    <div class="row-list">
        <div class="name"> @Html.DisplayFor(modelItem => item.Name) </div>

        <div class="address"> @Html.DisplayFor(modelItem => item.Address) </div>

        <div class="rating"> @Html.DisplayFor(modelItem => item.Rating) </div>

        <div class="picture"> <img src="~/upload/@Html.Raw(item.ImgUrl)" height="200em" width="170em"> </div>

        <div class="action">
            <form asp-action="Delete" asp-route-id="@item.Id">

                <a asp-action="Edit" asp-route-id="@item.Id"> <button type="button" class="btn-blue"> Edit </button> </a>

                <input type="hidden" />
                <button type="submit" class="btn-red" id="delete-btn">Delete</button>
            </form>
        </div>
    </div>
}
