﻿@model Tourist_Place.Models.Place

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit Place </h1>
<hr />

<div class="form-container">

    <form class="form-tag" asp-action="Edit">

        <div class="form-group">
            <label asp-for="Name" class="control-label"> </label> 
            <input type="text" asp-for="Name" class="form-control">
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <br />

        <div class="form-group">
            <label asp-for="Address" class="control-label"> </label> 
            <input type="text" asp-for="Address" class="form-control">
            <span asp-validation-for="Address" class="text-danger"></span>
        </div>
        <br />

        <div class="form-group">
            <label asp-for="Rating" class="control-label"> </label> 
            <input asp-for="Rating" type="number" min="1" max="5" class="form-control">
            <span asp-validation-for="Rating" class="text-danger"></span>
        </div>
        <br />

        <div class="form-group">
            <label asp-for="Type" class="control-label"> </label>
            <select asp-for="Type">
                <option value="Beach"> Beach </option>
                <option value="Hills"> Hills </option>
                <option value="Fountain"> Fountain </option>
                <option value="Landmark"> Landmark </option>
            </select>
            <span asp-validation-for="Type" class="text-danger"></span>
        </div>
        <br />

        <div class="form-group">
            <label asp-for="NewImage" class="form-control"> </label>
            <input type="file" asp-for="NewImage">
            <input type="hidden" asp-for="ImgUrl" value="@Html.Raw(Model.ImgUrl)" />
        </div>
        <br />

        <div class="form-group">
            <label class="form-control"> Old Image: </label>
            <div class="picture"> <img src="~/upload/@Html.Raw(Model.ImgUrl)" height="200em" width="170em"> </div>
        </div>
        <br />

        <span></span>
        <div class="content-right">
            <span class="test">
                <input type="submit" class="btn-green">
                <input type="reset" class="btn-orange">
            </span>
        </div>
        <br />

        <span></span>
        <div class="content-right">
            <a asp-action="Index" class="home-page-link"> Back to Tourist Place List </a>
        </div>

    </form>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
