﻿@model List<Tourist_Place.Models.Place>

@{
    ViewData["Title"] = "Tourist Places";
}

<link rel="stylesheet" href="~/css/StyleSheet.css">

<div class="container">
    <h2> <strong> Tourist Places </strong> </h2>
    <hr />

    Hello @User.Identity.Name | 
    <a asp-action="logout" asp-controller="account">
        Logout
    </a>
    <hr />

    <div class="search-box">
           <input type="text" id="search-input" placeholder="Enter name to search">
    </div>

    <div class="container-list" id="container-places-list">
        
        <div class="row-list">
            <div class="h-label"> NAME </div>
            <div class="h-label"> ADDRESS </div>
            <div class="h-label"> RATING </div>
            <div class="h-label"> PICTURE </div>
            <div class="h-label"> ACTION </div>
        </div>
        

        @foreach (var item in Model)
        {
            <div class="row-list">
                <div class="name"> @Html.DisplayFor(modelItem => item.Name) </div>

                <div class="address"> @Html.DisplayFor(modelItem => item.Address) </div>

                <div class="rating"> @Html.DisplayFor(modelItem => item.Rating) </div>

                <div class="picture"> <img src="~/upload/@Html.Raw(item.ImgUrl)" height="200em" width="170em"> </div>

                <div class="action">
                    <form asp-action="Delete" asp-route-id="@item.Id">

                        <a asp-action="Edit" asp-route-id="@item.Id"> <button type="button" class="btn-blue"> Edit </button> </a>

                        <input type="hidden"/>
                        <button type="submit" class="btn-red" id="delete-btn">Delete</button>
                    </form>
                </div>
            </div>
        }

    </div>

    <div class="create-btn">
        <a asp-action="Create">
            <button type="button" class="btn-blue"> 
                 Create New Tourist Place
            </button>
        </a>
    </div>

</div>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>

    <script>
        $('#search-input').on("input", function (e) {
            //var searchPlace = $('#search').val();
            //$('#search-form').submit();

            let searchTerm = $(this).val().trim();

            $.ajax({
                type: "POST",
                url: "/Home",
                data: { searchPlace: searchTerm },
                success: function (ReceivedData) {
                    console.log("Search Request Sent Successfully!");
                    //console.log(@Model.Count);
                    //console.log(ReceivedData);

                    /*
                    $('.row-list').each(function (i) {
                        $(this).hide();
                    });
                    */

                    $('#container-places-list').html(ReceivedData);
                }
            });
        });

    </script>
}