﻿@model Tourist_Place.Models.User

@{
    ViewData["Title"] = "Login";
}


<h1> Log In </h1>
<hr />

<div class="container">
    <div class="row">
        <div class="col-md-3">
            <form asp-action="login" method="post">
                <span class="text-danger"> @Html.Raw(ViewData["login-error-msg"]) </span>
                <div class="form-group">
                    <label asp-for="UserName" class="control-label"></label>
                    <input asp-for="UserName" class="form-control" />
                    <span asp-validation-for="UserName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Password" class="control-label"></label>
                    <input asp-for="Password" type="password" class="form-control" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <p></p>
                <div class="form-group">
                    <button class="btn btn-info" type="reset">Reset</button>
                    <input type="submit" value="Submit" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>
</div>

<div>
    Don't have an account? <a asp-action="signup"> Sign Up </a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}