﻿@model Tourist_Place.Models.User

@{
	ViewData["Title"] = "Sign Up";
}

<h1>Sign Up</h1>
<hr />

<div class="row">
    <div class="col-md-4">
        <form asp-action="SignUp">
            <div class="form-group">
                <label asp-for="UserName" class="control-label"></label>
                <input asp-for="UserName" class="form-control" />
                <span asp-validation-for="UserName" class="text-danger"></span>
                <span class="text-danger"> @Html.Raw(ViewData["username-error-msg"]) </span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" type="password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <p></p>
            <div class="form-group">
                <input type="submit" value="Submit" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    Already have an account? <a asp-action="login"> Log In </a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
